* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--color-primary);
  color: var(--white);
}

*::selection {
  background-color: var(--color-primary);
  color: var(--white);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0.2rem 0.8rem #dc757f;
}

:root {
  --color-primary: #bf404c;
  --black: #000;
  --white: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (width <= 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}
@media only screen and (width <= 57.5em) {
  .flex-row {
    flex-direction: column;
  }
}

.grid {
  display: grid;
  gap: 7rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (width <= 57.5em) {
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (width <= 75em) {
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (width <= 57.5em) {
  .grid--3--cols {
    grid-template-columns: 1fr;
  }
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (width <= 75em) {
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (width <= 57.5em) {
  .grid--4--cols {
    grid-template-columns: 1fr;
  }
}

.btn-primary {
  background-color: transparent;
  padding: 0.4rem 0;
  color: var(--black);
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.btn-primary::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.btn-primary:hover::before {
  width: 100%;
}

/* MEDIA QUERY MANAGER */
/*
0 - 600px:        phone
600 - 900px:      tablet portrait
900 - 1200px:     tablet landscape
[1200 - 1800px]: normal desktop
*/
/* tab landscape */
/* tab portrait */
/* phone */
.hero {
  height: 70rem;
  position: relative;
}
@media only screen and (width <= 57.5em) {
  .hero {
    height: 120rem;
    overflow: hidden;
  }
}
.hero .flex-row {
  height: 100%;
}
.hero .flex-row > * {
  width: 50%;
  height: 100%;
}
@media only screen and (width <= 57.5em) {
  .hero .flex-row > * {
    height: 100%;
    width: 100%;
  }
}
.hero__left {
  background-color: var(--color-primary);
  display: flex;
}
@media only screen and (width <= 57.5em) {
  .hero__left {
    height: 180rem !important;
  }
}
.hero__left-content {
  margin: auto auto 7rem 10rem;
}
@media only screen and (width <= 57.5em) {
  .hero__left-content {
    margin: auto auto 7rem 2rem;
  }
}
.hero__right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.337), rgba(255, 255, 255, 0.337)), url(../img/08a770c6ea5995bf473a2105d130b151.jpeg);
  background-size: cover;
  background-position: center;
}
.hero__logo {
  height: 6rem;
  width: 17rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.hero__title {
  font-size: 7rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1;
  margin-bottom: 2rem;
}
.hero__description {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../img/62abc994a63aa98e1a52f1651e9aaf8a.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
@media only screen and (width <= 57.5em) {
  .hero::before {
    left: 75%;
    top: 60%;
    background-size: 50%;
  }
}

.products {
  padding: 10rem 0;
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.products__card-img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.products__card-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.products__card-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.products__card-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 2rem;
}

.review {
  padding-top: 5rem;
  padding-bottom: 15rem;
  background-image: url(../img/10191dc079c208d33da8f1671a27f00f.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.review .grid {
  gap: 4rem;
}
.review .grid--2--cols {
  grid-template-columns: 1.1fr 1fr;
}
@media only screen and (width <= 57.5em) {
  .review .grid--2--cols {
    grid-template-columns: 1fr;
  }
}
.review__right {
  padding: 6rem 0;
}
.review__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
  line-height: 1.3;
}
.review__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 2rem;
}
.review__description--1 {
  line-height: 1.2;
}
.review__description--2 {
  color: #000;
  margin-bottom: 5rem;
}

.video {
  background-color: var(--color-primary);
  text-align: center;
  padding-bottom: 5rem;
}
.video__video {
  margin-top: -7rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (width <= 75em) {
  .video__video {
    width: 85%;
  }
}
@media only screen and (width <= 57.5em) {
  .video__video {
    width: 95%;
  }
}

.collection {
  padding: 10rem 0;
  background-image: url(../img/22542ffaccea6917a0ca0a403d552593.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.collection .container > * {
  max-width: 55%;
}
@media only screen and (width <= 57.5em) {
  .collection .container > * {
    max-width: 100%;
  }
}
.collection__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
  line-height: 1.3;
}
.collection__description {
  font-weight: 400;
  margin-bottom: 4rem;
}
.collection__description--1 {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
.collection__description--2 {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.5;
}
.collection__btn {
  margin-top: 2rem;
  color: var(--white);
}

.neo {
  padding: 3rem 0;
}
.neo .grid {
  gap: 2rem;
}
.neo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 32% center;
     object-position: 32% center;
}
.neo__left {
  padding: 6rem 0;
}
.neo__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
  line-height: 1.3;
}
.neo__description {
  font-weight: 400;
  color: var(--black);
  margin-bottom: 2rem;
}
.neo__description--1 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
  text-transform: uppercase;
}
.neo__description--2 {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: var(--black);
}
.neo__btn {
  margin-top: 2rem;
  color: var(--black);
}

.box {
  padding: 7rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4745098039), rgba(0, 0, 0, 0.5568627451)), url(../img/a2b6b602a588bdde54267cda774fc601.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--white);
  margin: 4rem 0;
  line-height: 1.3;
  text-align: center;
}
.box__grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a a b c" "a a d e";
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
@media only screen and (width <= 57.5em) {
  .box__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a" "b c" "d e";
  }
}
.box #a {
  grid-area: a;
}
.box #b {
  grid-area: b;
}
.box #c {
  grid-area: c;
}
.box #d {
  grid-area: d;
}
.box #e {
  grid-area: e;
}
.box__img-container {
  width: 75%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
.box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box__img-caption {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  margin-top: 2rem;
}

.contact {
  padding: 10rem 0;
  background-color: var(--color-primary);
}
.contact .flex-col {
  align-items: center;
  justify-content: center;
}
.contact__img {
  height: auto;
  width: 20rem;
  margin-bottom: 2rem;
}
.contact__description {
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 4rem;
}
@media only screen and (width <= 57.5em) {
  .contact__description {
    width: 100%;
  }
}
.contact__input {
  width: 45%;
  padding: 1.5rem;
  border: none;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
@media only screen and (width <= 57.5em) {
  .contact__input {
    width: 100%;
  }
}
.contact__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4274509804);
}
.contact__input::placeholder {
  color: rgba(255, 255, 255, 0.4274509804);
}
.contact__textarea {
  width: 45%;
  padding: 1rem 1.5rem;
  border: none;
  margin-bottom: 2rem;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
@media only screen and (width <= 57.5em) {
  .contact__textarea {
    width: 100%;
  }
}
.contact__textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4274509804);
}
.contact__textarea::placeholder {
  color: rgba(255, 255, 255, 0.4274509804);
}
.contact__btn {
  padding: 1.5rem 5rem;
  border: none;
  background-color: var(--white);
  color: var(--black);
  font-weight: 500;
  transition: all 0.3s ease;
}
.contact__btn:hover {
  color: var(--color-primary);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */